@charset "UTF-8";
/* Reset CSS */
* {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* Mobile first CSS */
body, html {
    background-color: #0a0a0a;
}

.header {
    color: #fff;
    background-color: #0a0a0a;
    margin: auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.cabeca {

    width: 100%;
    margin: auto;
    padding: 10px;
}


h1.logo {
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 4px 4px #0a0a0a;

}


#burguer {

    display: block;
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-left: 85px;
    margin-right: 85px;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#burguer:hover {
    background-color:#999999;
    color: black;
}


.menu {
   
    display: none;
    
    
}

.menu ul {
    list-style-type: none;
    
}



.menu ul li a {
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    background-color:black;
    color:white;
    border-bottom: 1px solid #ff5500;
    border-top: 1px solid #ff5500;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.menu ul li a:hover {

    color:black;
    background-color: #f25304;
    border-radius: 20px;

}

.menu ul li a:active {

    color:rgb(219, 219, 4);

}

menu ul li a:focus-within {
    color:black;
    background-color:#ff5500;
    border-radius: 20px;
    

}




.conteiner {
   width: 100%;
   margin: auto;
    
}


.ibusca {
    display: inline-flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}



main {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color:#0a0a0a;
}

.FormBusca {
    
    display: flex;
}

::placeholder {
    font-style: italic;
    text-indent: 5px;
}

.FormBusca input[type="search"] {

    margin-top: -10px;
    padding: 5px;
    width: 81vw;
    border: 1px solid black;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.FormBusca button[type = "submit"] {

    margin-top: -10px;
    padding: 5px 5px;
    text-align: center;
    background-color:black;
    color:#f0f0f0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    
}

.FormBusca button[type="submit"]:hover {

    color:#ffa42e;
}

.suggestion-list {

    display: block;
    height: 141px;
    width: 226px;
    margin-top: 39px;
}

.suggestion-list {

    list-style-type:none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    max-height: 120px;
    overflow-y: auto;
    width: calc(71% - 4px); /* Adjust for border */
}

.suggestion-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestion-list li:hover {
    background-color: #f0f0f0;
}

.produtos-disponiveis {
    width: calc(100% - 0px); /* Definir a largura de cada produto (ajustável conforme necessário) */
    text-align: center; /* Alinhar o conteúdo do produto ao centro */
    background-color: #fff; /* Cor de fundo do produto*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar sombra ao produto */
}

.produto {
    display: inline-grid;
    justify-content: space-around; 
    align-items:stretch; 
}

.produto {
    width: calc(49.33% - 20px);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px; 
    margin-left: 11px;
    margin-right: 11px;
    text-align: center; 
    background-color: #fff; 
    border-radius: 10px; 
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}
.produto img {
    width: 150px; /* Garantir que a imagem do produto ocupe toda a largura do produto */
    max-width: 100%; /* Garantir que a imagem não ultrapasse a largura do produto */
    height: auto; /* Manter a proporção da imagem */
    border-radius: 10px;
}

.produto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aumentar a sombra ao passar o mouse sobre o produto */
    transform: translateY(-5px); /* Deslocar levemente o produto para cima ao passar o mouse sobre ele */
}



.preco {
    padding: 5px;
    font-weight:bold;
    color: #1e8122;
}

.descricao {
    font-weight: 450;
    color:#c74200;
    margin-top: 5px;
    margin-bottom: 5px;
}




.titulo {
    width: 100%;
    padding: 5px;
    font-size: 1.2em;
   
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0a0a0a;
    color:#fd712c;

}





#filtro-categoria {
    margin-top: 10px;
    text-align: center;
    background-color: black;
    color:#fc9c1f;
    border:none;
    border-radius: 5px;
    padding: 4px;
}

label {
    padding: 4px;
    text-align: center;
    color: #ccc;
}

option {
    color:#fc9c1f;
    background-color: black;
    padding: 5px;
    
}



.paginacao {
    margin-top: 20px;
    text-align: center;
   
}


.proxima, .anterior {
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 10px;
    background-color: rgb(40, 40, 40);
    border: none;
    padding: 5px;
    border-radius: 5px;
      
  }
  
  
.proxima a, .anterior a {
    text-align: center;
    text-decoration: none;
    
    color:#ccc;
    padding: 5px;
}
  

.proxima a:hover, .anterior a:hover {
    color:#fc9c1f;
  
}






footer {
    background-color: #161616;
    color: #fff;
    padding: 30px 0;
}

footer h4 {
    color: #fff;
    text-indent: 10px;
}

footer p {
    color: #ccc;
    padding: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
    text-indent: 10px;
  
}

.col-md-02 ul {
    margin-top: 5px;
}

.col-md-02 a {
    color: lightgray;
    text-decoration: none;
}

.col-md-02 a:hover {
    color: purple;
}

.col-md-02 a:focus-within {
    color: purple;
    text-decoration: underline;
}

.col-md-04 {
    height: 10vh;
    margin-top: -10px;
    margin-bottom: 5px;
}


.social-icons {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

a img {
    width: 50%;
}



.social-icons li {
    display:inline-flex;
   
}

.social-icons a {
    text-decoration: none;
    color: lightblue;
}



.footer-bottom {
    background-color: #222;
    padding: 20px 0;
    margin-bottom: -28px;
}

.footer-bottom p {
    margin: 0;
    text-align: center;
}




/*
    CSS para todos os dispositivos 

    Typical device Breakpoints 
    -----------------------------
    pequenas telas: até 600px
    celular: de 600px até 768px
    Tablet: 768 até 992px
    Desktop: 992px até 1200px
    Grandes Telas: acima de 1200px

*/


/*  Configurações de tela para TABLETS  */
@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .header {
        
        color: #fff;
        background-color: #0a0a0a;
        margin: auto;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    }

    .cabeca {

        width: 100%;
        margin: auto;
        padding: 10px;

    }

    h1.logo {

        font-size: 4em;
        text-align: center;
        padding: 10px;
        
    }

    #burguer {
        display: none;
    }




    .menu {
        display: block;
        text-align: center;
        padding: 10px;
    }


    .menu ul li {
        display: inline-block;
    }

    .menu ul li a {
        display: block;
        padding: 8px;
        text-decoration: none;
        text-align: center;
        background-color:#161616;
        color:#fc9c1f;
        margin-top: -10px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: unset;
        border-top:unset;
        border-radius: 8px;
    }
    
    .menu ul li a:hover {
        color:#f77331;
        background-color:black;
        border-radius: 8px;
    
    }


    menu ul li a:active {
        color: yellow;
    }
    
  
    
    menu ul li a:focus {
        background-color: #cc4400;
        border-radius: 8px;
        
    
    }


    
    .produtos-disponiveis {
        width: calc(100% - 0px);
        background-color: #fff;
        border-radius: unset;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    
    .produto {
        display:inline-grid;
        justify-content: space-around; 
        align-items: center;
       
    }

   

    .produto {
        
        width: calc(24.33% - 15px);
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
        text-align: center; 
        background-color: #fff; 
        border-radius: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease;
    }

    .produto img {
        width: 150px; /* Garantir que a imagem do produto ocupe toda a largura do produto */
        max-width: 100%; /* Garantir que a imagem não ultrapasse a largura do produto */
        height: auto; /* Manter a proporção da imagem */
        border-radius: 8px;
    }

    .produto:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aumentar a sombra ao passar o mouse sobre o produto */
        transform: translateY(-5px); /* Deslocar levemente o produto para cima ao passar o mouse sobre ele */
    }



    main {

        width: 100%;
        margin: auto;
        text-align: center;
        background-color: #0a0a0a;
    }

    .sobre-section {
        padding: 15px;
    }

   

    .descricao {

        color:#c74200;
        font-size: 1rem;
    
    }

    .preco {

        padding: 5px;
        font-size: 1em;
    }

    .conteiner {

        width: 100%;
        margin: auto;
            
    }

    .ibusca {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }



    .FormBusca input[type="search"] {
        margin-top: -10px;
        padding: 5px 8px;
        width: 81vw;
        border: 1px solid black;
        border-radius: 8px 0 0 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
    }


    .FormBusca button[type = "submit"] {
        margin-top: -10px;
        padding: 5px 8px;
        text-align: center;
        background-color: black;
        color: #f0f0f0;;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        
    }


    .titulo {

        padding: 5px;
        text-align: center;
        font-size: 1.4rem;
        font-weight:bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        background-color: #0a0a0a;
        color:#fd712c;
        
    }

 

    .suggestion-list {
        list-style-type:none;
        padding: 0;
        margin: 0;
        margin-top: 40px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1;
        max-height: 120px;
        overflow-y: auto;
        width: calc(71% - 8px); /* Adjust for border */
    }

    


}




/*  Configurações para DESKTOP  */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    #burguer {
        display: none;
    }


    .menu {
        display: block;
        text-align: center;
        padding: 10px;
    }


    
    .menu ul li a {
        display: block;
        padding: 8px;
        text-decoration: none;
        text-align: center;
        background-color:#161616;
        color:#fc9c1f;
        margin-top: -10px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: unset;
        border-top:unset;
        border-radius: 8px;
    }
    
    .menu ul li a:hover {
        color:#f77331;
        background-color:black;
        border-radius: 8px;
    
    }


    menu ul li a:active {
        color: yellow;
    }
    
  
    
    menu ul li a:focus {
        background-color: #cc4400;
        border-radius: 8px;
        
    
    }




    .menu > ul > li {

        display: inline-block;
    }


    header {

        background-color: #0a0a0a;
        color: #fff;
        
    }


    .cabeca {

        width: 100%;
        padding: 10px;
    }


    h1.logo {

        font-size: 4em;
        text-align: center;
        padding: 10px;
       
    }

    
       

    main {
        
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: #0a0a0a;
        border-radius: 0px;
        
    }

   
    .descricao {

        color:#c74200;
        font-size: 1.1em;
        
    }

    .preco {

        padding: 10px;
        font-size: 1.1em;

    }

    .titulo {
        padding: 5px;
        font-size: 1.4rem;
        font-weight:bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        background-color: #0a0a0a;
        color:#fd712c;
    
    }



   
    .conteiner {

        width: 100%;
        margin: auto;
        
    }

    .ibusca {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    
    .FormBusca input[type="search"] {
        margin-top: -10px;
        padding: 5px 8px;
        width: 81vw;
        border: 1px solid black;
        border-radius: 8px 0 0 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
    }


    .FormBusca button[type = "submit"] {
        margin-top: -10px;
        padding: 5px 8px;
        text-align: center;
        background-color: black;
        color:#f0f0f0;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        
    }


    .produto {
        display: inline-grid;
        justify-content: space-around; 
        align-items: center;
    }

    .produtos-disponiveis {
        width: calc(100% - 0px); 
        text-align: center; 
        background-color: #fff; 
        border-radius:unset; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }


    .produto {
        width: calc(24.33% - 14px); /* Definir a largura de cada produto (ajustável conforme necessário) */
        margin-bottom: 20px; /* Adicionar margem inferior entre os produtos */
        margin-left: 10px;
        margin-right: 10px;
        text-align: center; /* Alinhar o conteúdo do produto ao centro */
        background-color: #fff; /* Cor de fundo do produto */
        border-radius: 10px; /* Arredondar as bordas do produto */
        padding: 15px; /* Adicionar espaçamento interno ao produto */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar sombra ao produto */
        transition: all 0.3s ease; /* Adicionar uma transição suave ao passar o mouse sobre o produto */
    }

    .produto img {

        width: 150px; /* Garantir que a imagem do produto ocupe toda a largura do produto */
        max-width: 100%; /* Garantir que a imagem não ultrapasse a largura do produto */
        height: auto; /* Manter a proporção da imagem */
        border-radius: 8px;
    }

    .produto:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aumentar a sombra ao passar o mouse sobre o produto */
        transform: translateY(-5px); /* Deslocar levemente o produto para cima ao passar o mouse sobre ele */
    }
  

    .suggestion-list {
        list-style-type:decimal;
        padding: 0;
        margin: 0;
        margin-top: 26px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1;
        max-height: 120px;
        overflow-y: auto;
        width: calc(71% - 11px); /* Adjust for border */
    }

   

}
  


/*  Configurações de tela para GRANDES TELAS  */
@media screen and (min-width: 1200px) {

    #burguer {

        display: none;
    }

    .cabeca {

        width: 100%;
        margin:auto;
        padding: 10px;
    }

  
    header {

        background-color: #0a0a0a;
        color: #fff;   
    }

    h1.logo {

        font-size: 4em;
        text-align: center;
        padding: 10px;

    }

    .menu {
   
        display: none;
        
    }

    .menu {

        display: block;
        text-align:center;
        padding: 10px;
    }

  
      
    .menu ul li a {
        display: block;
        padding: 8px;
        text-decoration: none;
        text-align: center;
        background-color:#161616;
        color:#fc9c1f;
        margin-top: -10px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: unset;
        border-top:unset;
        border-radius: 8px;
    }

    .menu ul li a:hover {
        color:#f77331;
        background-color:black;
        border-radius: 8px;
    
    }


    menu ul li a:active {
        color: yellow;
    }
    
  
    
    menu ul li a:focus {
        background-color: #cc4400;
        border-radius: 8px;
        
    
    }


    .menu > ul > li {

        display: inline-block;

    }

    

    .conteiner {
        width: 100%;
      
    }
    

    .ibusca {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    
    .titulo {
      
        padding: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        background-color: #0a0a0a;
        color:#fd712c;
    
    }

   
    
    .FormBusca input[type="search"] {
        margin-top: -10px;
        padding: 5px 8px;
        width: 81vw;
        border: 1px solid black;
        border-radius: 8px 0 0 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
    }


    .FormBusca button[type = "submit"] {
        margin-top: -10px;
        padding: 5px 8px;
        text-align: center;
        background-color: black;
        color:#f0f0f0;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        
    }



    main {
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: #0a0a0a;
        border-radius: 0px;
     
    }


   .h4 {
        font-size: 1.2em;
   }
   
    .descricao {

        color:#c74200;
        font-size: 1.1em;
       
    }


    .preco {

        padding: 10px;
        font-size: 1.1em;
    }


    .produtos-disponiveis {
        width: calc(100% - 0px); /* Definir a largura de cada produto (ajustável conforme necessário) */
        text-align: center; /* Alinhar o conteúdo do produto ao centro */
        background-color: #fff; /* Cor de fundo do produto */
        border-radius: 0px; /* Arredondar as bordas do produto */
       
    }

    .produto {
        
        display: inline-grid;
        align-items: stretch;
        justify-items: center;
        justify-content: center;
    }

    .produto {
        width: calc(24.33% - 13px); /* Definir a largura de cada produto (ajustável conforme necessário) */
        margin-bottom: 20px; /* Adicionar margem inferior entre os produtos */
        
        text-align: center; /* Alinhar o conteúdo do produto ao centro */
        background-color: #fff; /* Cor de fundo do produto */
        border-radius: 10px; /* Arredondar as bordas do produto */
        padding: 15px; /* Adicionar espaçamento interno ao produto */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar sombra ao produto */
        transition: all 0.3s ease; /* Adicionar uma transição suave ao passar o mouse sobre o produto */
    }

    .produto img {
        width: 150px; /* Garantir que a imagem do produto ocupe toda a largura do produto */
        max-width: 100%; /* Garantir que a imagem não ultrapasse a largura do produto */
        height: auto; /* Manter a proporção da imagem */
        border-radius: 8px;
    }

    .produto:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aumentar a sombra ao passar o mouse sobre o produto */
        transform: translateY(-5px); /* Deslocar levemente o produto para cima ao passar o mouse sobre ele */
    }

    .suggestion-list {
        list-style-type:decimal;
        padding: 0;
        margin: 0;
        margin-top: 26px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1;
        max-height: 120px;
        overflow-y: auto;
        width: calc(71% - 15px); /* Adjust for border */
    }
}
