/*  Para Mobile Fisrt */

/* Estilos para o layout geral */

*{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    background-color:#161616;
   
}

.header {
    color: #fff;

}

.header .cabeca {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #0a0a0a;
}

.header .logo {

    text-align: center;
    font-size: 2.5em;
    padding: 10px;
    margin-bottom: -20px;
    
}

#burguer {

    display: block;
    text-align: center;
    cursor: pointer;
    color: white;
}


#burguer:hover {

    background-color:#222;
    color: black;
 
}




.menu {
   display: none;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #0a0a0a;
}

.menu ul {
    list-style-type: none;
}


.menu ul li a {

    display: block;
    margin-top: 5px;
    padding: 10px; /* Ajuste o padding conforme necessário */
    background-color: black;
    text-decoration: none;
    color:white;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
   
}






.menu ul li a:hover {

    color:#FF950E;
    transition:  ease .4s;
}




.main {

    padding: 20px;
   
  
}

.conteiner {
    max-width: 100vw;
    margin: 0 auto;
    background-color: #0a0a0a;
    margin-top: 10px;

    
}

.ibusca {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
    background-color: #0a0a0a;
    
}







::placeholder {
    color:rgb(173, 173, 173);
    font-style: italic;
    text-indent: 4px;
  
}

.ibusca input[type="search"] {

    margin-top: 10px;
    margin-bottom: 10px;
    width: 284px;
    padding: 5px;
    border:none;
    border-radius: 7px 4px 4px 7px;
    
}




.mais-vendidos {
    
    align-items: stretch;
    justify-items: center;
    justify-content: space-around;
    margin: auto;
   
}



.produto {

    display: inline-grid;
    align-items: stretch;
    justify-items: center;
    justify-content: space-around;
    margin: auto;
}


.mais-vendidos {

    text-align: center;
    width: calc(100% - 0px); 
    background-color: white;

}



.produto {

    width: calc(42.33% - -2px); 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 10px;
    text-align: center; 
    background-color: #fff; 
    border-radius: 10px; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;

}


.produto:hover {
    transform: translateY(-5px);
}


img {
    width: 150px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}



.titulo {
    
    text-align: center;
    padding: 10px;
    color: #FF950E;
    background-color:#0a0a0a;
    border-radius: 5px;
    margin-top: 20px;

}

.nome {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descricao {

    color: #098108;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.categoria {

    color: #b15b00;
    padding: 5px;
   
}

.preco {
    margin-bottom: 5px;
    padding: 5px;
    font-weight: bold;
    color: #098108;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.categorias {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ccc;
    
   
}

#filtro-categoria {
    
    text-align: center;
    
}


.paginacao {
    text-align: center;
   
}


.proxima, .anterior {
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 10px;
    background-color: rgb(40, 40, 40);
    border: none;
    padding: 5px;
   border-radius: 5px;
      
}
  
  
.proxima a, .anterior a {
    text-align: center;
    text-decoration: none;
    
    color:#ccc;
    padding: 5px;
}
  
.proxima a:hover, .anterior a:hover {
    color:#FF950E;
  
}





label {
    padding: 4px;
    text-align: center;
}

#filtro-categoria {
    text-align: center;
    background-color: black;
    color: #FF950E;
    border:none;
    border-radius: 5px;
    padding: 4px;
}

option {
    background-color: black;
    padding: 5px;
    
}

/* Estilos para os botões */

.FormBusca button[type="submit"] {
    padding: 5px 10px; /* Ajuste o padding conforme necessário */
    background-color: black;
    color: #FF950E;
    border: 1px solid black;
    border-radius: 5px; /* Adicione uma borda arredondada */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
}

.ibusca button:hover,
.FormBusca button[type="submit"]:hover,
.prev:hover,
.next:hover {
    background-color: #FF950E; /* Altera a cor de fundo ao passar o mouse */
    color: black; /* Altera a cor do texto ao passar o mouse */
}

.ibusca button:focus,
.menu ul li a:focus,
.FormBusca button[type="submit"]:focus {
    border-color: #FF950E; /* Altera a cor da borda ao receber foco */
    box-shadow: 0 0 0 2px rgba(229, 129, 0, 0.5); /* Adiciona uma borda ao receber foco */
}




/* Estilos para o footer */

footer {
    background-color: #161616;
    color: #fff;
    padding: 30px 0;
}

footer h4 {
    color: #fff;
    text-indent: 10px;
}

footer p {
    color: #ccc;
    padding: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
    text-indent: 10px;
  
}

.col-md-02 ul {
    margin-top: 5px;
}

.col-md-02 a {
    color: lightgray;
    text-decoration: none;
}

.col-md-02 a:hover {
    color: purple;
}

.col-md-02 a:focus-within {
    color: purple;
    text-decoration: underline;
}

.col-md-04 {
    height: 10vh;
    margin-top: -10px;
    margin-bottom: 5px;
}


.social-icons {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

a img {
    width: 50%;
}



.social-icons li {
    display:inline-flex;
   
}

.social-icons a {
    text-decoration: none;
    color: lightblue;
}



.footer-bottom {
    background-color: #222;
    padding: 20px 0;
    margin-bottom: -28px;
}

.footer-bottom p {
    margin: 0;
    text-align: center;
}


/* Estilos para a responsividade */


/*  PARA TABLET   */
@media  screen and (min-width: 768px) and (max-width: 992px) {

    #burguer {

        display: none;
    }

    .menu {
        display: block;
        margin-bottom: 20px;
    }

    .menu > ul > li {
        display: inline-block;
    }

    
    


    .ibusca input[type="search"] {
        margin-top: 10px;
        width: 600px;
        padding: 5px;
        border: 1px solid #E37F01;
        border-radius: 7px 4px 4px 7px;
        
    }

    .menu ul li a {
        margin-top: -10px;
        background-color: black;
        text-decoration: none;
        color:white;
        border-radius: 5px;
        outline: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
       
    }
    
    


    .mais-vendidos {
        width: calc(100.33% - 4px);
        background-color: #fff;
        border-radius: unset;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    
    .produto {

        display:inline-grid;
        justify-content: space-around; 
        align-items: center;
       
    }

   

    .produto {
        
        width: calc(23.33% - 8px);
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
        text-align: center; 
        background-color: #fff; 
        border-radius: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease;
    }

    .produto img {
        width: 115px; 
        max-width: 100%; 
        height: auto; 
        border-radius: 8px;
    }

    .produto:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transform: translateY(-5px); 
    }


    
   


    main {

        width: 100%;
        margin: auto;
        text-align: center;
        background-color: #161616;
    }

    .sobre-section {
        padding: 15px;
    }

   

    .descricao {

        font-size: 1rem;
    
    }

    .preco {

        padding: 5px;
        font-size: 1em;
    }

    .conteiner {

        width: 100%;
        margin: auto;
            
    }

    .ibusca {
        display: flex;
        justify-content: center;
    
    }

    .ibusca {

        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin: auto;
        background-color: #0a0a0a;
        
    }
    



    .titulo {

        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-weight:bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

        margin: auto;
        background-color: #0a0a0a;
        color: #FF950E;
        
    }


    
    .menu ul li a {
        padding: 10px;
    }



    
    /* Estilos para os botões */
    .ibusca button,
    .FormBusca button[type="submit"] {
        padding: 5px 10px; /* Ajuste o padding conforme necessário */
        background-color: black;
        color: #FF950E;
        border: 1px solid black;
        border-radius: 5px; /* Adicione uma borda arredondada */
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
    }



    
}







/*
/*  PARA DESKTOP  */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

   
    #burguer {

        display: none;
    }

    .menu {
        display: block;
    }

    .menu {
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 8px;
        background-color: #0a0a0a;
     }

    .menu > ul > li {
        display: inline-block;
    }

    .menu ul li a {

        margin-top: 0px;
        background-color: black;
        text-decoration: none;
        color:white;
        border-radius: 5px;
        outline: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
       
    }

    

    header {

        background-color: #161616;
        color: #fff;
        
    }


    .cabeca {

        width: 100%;
        margin: auto;
        padding: 10px;
    }


    h1.logo {

        font-size: 4em;
        text-align: center;
        padding: 20px;
        margin-bottom: 10px;
    }



    .ibusca input[type="search"] {
        margin-top: 10px;
        width: 600px;
        padding: 5px;
        border: 1px solid #E37F01;
        border-radius: 7px 4px 4px 7px;
        
    }
    
    
    
    .ibusca button {
        padding: 6px 7px;
        border-radius: 3px 10px 9px 3px;
       
    }

    .ibusca {
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin: auto;
        background-color: #0a0a0a;
        
    }

    .ibusca button:hover {
        color: #FF950E;
    }

  
    
    .produto {
        display: inline-grid;
        justify-content: space-around; 
        align-items: center;
    }

    .mais-vendidos {
        width: calc(100.33% - 4px); 
        text-align: center; 
        background-color: #fff; 
        border-radius:unset; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }


    .produto {
        width: calc(23.33% - 3px); 
        margin-bottom: 20px; 
        margin-left: 10px;
        margin-right: 10px;
        text-align: center; 
        background-color: #fff; 
        border-radius: 10px; 
        padding: 15px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease; 
    }

    .produto img {

        width: 150px; 
        max-width: 100%; 
        height: auto; 
        border-radius: 8px;
    }

    .produto:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transform: translateY(-5px); 
    }

    main {
        
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: #161616;
        border-radius: 0px;
        
    }

   
    .descricao {

        font-size: 1.1em;
    }

    .preco {

        padding: 10px;
        font-size: 1.1em;

    }

    .titulo {
        padding: 10px;
        font-size: 1.5rem;
        font-weight:bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        background-color: #0a0a0a;
        color:#FF950E;
    
    }



   
    .conteiner {

        width: 100%;
        margin: auto;
        
    }

    .ibusca {
        display: flex;
        justify-content: center;

    }

    





    /* Estilos para os botões */
  
    .menu ul li a,
    .FormBusca button[type="submit"] {
        padding: 5px 10px; /* Ajuste o padding conforme necessário */
        background-color: black;
        color:white;
        border: 1px solid black;
        border-radius: 5px; /* Adicione uma borda arredondada */
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
    }


  
}






/* PARA GRANDES TELAS   */
@media only screen and (min-width: 1200px) {

   
    #burguer {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu {
      
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        background-color: #0a0a0a;
     }

    .menu > ul > li {
        display: inline-block;
    }

    .menu ul li a {

        margin-top: 0px;
        background-color: black;
        text-decoration: none;
        color:white;
        border-radius: 5px;
        outline: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
       
    }

   
    header {

        background-color: #161616;
        color: #fff;   
    }


    .cabeca {

        width: 100%;
        margin:auto;
        padding: 10px;
    }

    h1.logo {

        font-size: 4em;
        text-align: center;
        padding: 20px;
      

    }

    .ibusca input[type="search"] {
        margin-top: -10px;
        width: 600px;
        padding: 5px;
        border: 1px solid #E37F01;
        border-radius: 7px 4px 4px 7px;
        
    }
    
    
    
    .ibusca button {
        padding: 6px 7px;
        border-radius: 3px 10px 9px 3px;
       
    }

    .ibusca {
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin: auto;
        background-color: #0a0a0a;
        
    }

    .ibusca button:hover {
        color: #FF950E;
    }



    .conteiner {
        width: 100%;
      
    }


    .ibusca {
        display: flex;
        justify-content: center;
     
    }

    
    .titulo {
      
        padding: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        background-color:#0a0a0a;
        color:#FF950E;
    
    }


    main {
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: #161616;
        border-radius: 0px;
     
    }


   
    .descricao {

        font-size: 1.1em;
       
    }


    .preco {

        padding: 10px;
        font-size: 1.1em;
    }


     
    .mais-vendidos {
        width: calc(100.33% - 5px);
        text-align: center; 
        background-color: #fff; 
        border-radius: 0px; 
       
    }

    .produto {
        
        display: inline-grid;
        align-items: stretch;
        justify-items: center;
        justify-content: center;
    }

    .produto {
        width: calc(22.33% - -15px);
        margin-bottom: 20px; 
        margin-left: 10px;
        margin-right: 10px;
        text-align: center; 
        background-color: #fff; 
        border-radius: 10px; 
        padding: 15px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease; 
    }

    .produto img {
        width: 150px; 
        max-width: 100%; 
        height: auto; 
        border-radius: 8px;
    }

    .produto:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transform: translateY(-5px); 
    }



    
    /* Estilos para os botões */
    .ibusca button,
    .menu ul li a,
    .FormBusca button[type="submit"] {
        padding: 5px 10px; /* Ajuste o padding conforme necessário */
        background-color: black;
        color:white;
        border: 1px solid black;
        border-radius: 5px; /* Adicione uma borda arredondada */
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
    }

}








.carousel h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color:#FF950E;
}




.carousel {
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}



.carousel-container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




.carousel-item {
    max-width: 100%;
    flex: 0 0 auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    background-color:#040404;

}

.carousel-item:hover {

    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 

}

.carousel-item img {
    width: 300px;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;

}

.carousel-item h3 {
    margin-top: 10px;
    font-size: 20px;
    color:white;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #FF950E;
}




.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
    border-radius: 50%;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}
